<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD iBatis Mapper 3.0 //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comichentai.dao.ComicDao">

    <select id="selectComicListPage" resultType="com.comichentai.dao.ComicDao">
        SELECT * FROM sys_comic where is_deleted = 0
    </select>

    <select id="selectComicByIds" resultType="com.comichentai.dao.ComicDao">
        SELECT * FROM sys_comic WHERE is_deleted = 0 and id IN
        (
        <foreach collection="ids" item="id" separator=",">
            ${id}
        </foreach>
        )LIMIT ${ids.size};
    </select>

    <select id="selectComicById" resultType="com.comichentai.dao.ComicDao">
        SELECT * FROM sys_comic WHERE id = ${id} and is_deleted = 0
    </select>

    <select id="selectComicByTitle" resultType="com.comichentai.dao.ComicDao">
        SELECT * FROM sys_comic WHERE is_deleted = 0 AND title  LIKE CONCAT('%',${title},'%') or author  LIKE CONCAT('%',${title},'%')
    </select>

    <insert id="insertComic" parameterType="com.comichentai.dataobject.ComicDo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_comic(title, cover_title, author, introduction, created, updated, content_title, STATUS, is_DELETED)
        VALUES (${title}, ${coverTitle}, ${author}, ${introduction}, ${created}, ${updated}, ${contentTitle}, ${status}, ${isDeleted})
    </insert>

    <update id="updateComic" parameterType="com.comichentai.dataobject.ComicDo">
        UPDATE sys_comic SET title = ${title}, cover_title = ${coverTitle}, author = ${author}, introduction = ${introduction}, created = ${created}, updated = ${updated}, content_title = ${contentTitle}, STATUS = ${status}, is_deleted = ${isDeleted}
        WHERE id = ${id}
    </update>

    <update id="deleteComicByIds" parameterType="com.comichentai.dataobject.ComicDo">
         UPDATE sys_comic SET is_deleted = 1 WHERE id IN
         (
         <foreach collection="ids" item="id" separator=",">
             ${id}
         </foreach>
         )LIMIT ${ids.size};
    </update>


</mapper>